@charset 'utf-8';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* a태그와 button태그의 글자색은 body 태그의 글자색을 상속받지 않는다.*/
img {
    width: 100%;
    vertical-align: top;
}
li {
    list-style: none;
}
iframe {
    width: 100%;
    height: 100%;
    border: 0;
}
